[build-system]
requires = [
    "setuptools>=61.0.0",
    "hatchling>=1.3.1,<1.22.0",
    "jupyterlab==4.*",
]
build-backend = "hatchling.build"

[project]
name = "lmkapp"
description = "Stop watching your code run"
license = {file = "LICENSE.txt"}
readme = "README.md"
requires-python = ">=3.7"
authors = [
    { name = "Cam Feenstra", email = "me@camfeenstra.com" },
]
keywords = [
    "IPython",
    "Jupyter",
    "Widgets",
]
classifiers = [
    "Framework :: Jupyter",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11"
]
dependencies = [
    "pydantic<2",
    "blinker<2",
    "python-dateutil<3",
    "typing_extensions<4.7",
    "urllib3<2",
    "aiohttp<4"
]
version = "1.2.0.dev3"

[project.optional-dependencies]
cli = ["click<9", "sqlalchemy[asyncio]>=2,<3", "aiosqlite<1", "psutil"]
jupyter = [
    "ipywidgets>=7.0.0",
    "ipython>=6.1.0",
    "ipykernel"
]
dev = [
    "ruff==0.5.4",
    "bump2version==1.*",
    "tox>=4.2",
    "jupyterlab==4.*",
    "build>=1.0.0"
]
types = [
    "mypy>=1,<2",
    "types-psutil",
    "types-python-dateutil"
]
test = [
    "pytest~=7.4.0",
    "selenium==4.16.0",
    "pytest-asyncio~=0.21.1",
    "webdriver-manager~=4.0.1",
    "jupyterlab",
    "notebook"
]
publish = ["twine"]
docs = ["novella~=0.2.6", "pydoc-markdown[novella]~=4.8.2"]

[project.urls]
Homepage = "https://github.com/lmkapp/lmk"

[project.scripts]
lmk = "lmk.__main__:cli"

[tool.hatch.build]
artifacts = [
    "lmk/generated",
    "lmk/jupyter/nbextension",
    "lmk/jupyter/labextension",
    "lmk/shell_cli.sh"
]

[tool.hatch.build.targets.wheel]
packages = ["lmk"]

[tool.hatch.build.targets.wheel.shared-data]
"lmk/jupyter/labextension/@lmkapp" = "share/jupyter/labextensions/@lmkapp"
"lmk/jupyter/nbextension/@lmkapp" = "share/jupyter/nbextensions/@lmkapp"
"./install.json" = "share/jupyter/labextensions/@lmkapp/jupyter-widget/install.json"
"./lmk.json" = "etc/jupyter/nbconfig/notebook.d/lmk.json"

[tool.hatch.build.hooks.jupyter-builder]
build-function = "hatch_jupyter_builder.npm_builder"
ensured-targets = [
    "lmk/jupyter/nbextension/@lmkapp/jupyter-widget.js",
    "lmk/jupyter/labextension/@lmkapp/jupyter-widget/package.json",
]
skip-if-exists = [
    "lmk/jupyter/nbextension/@lmkapp/jupyter-widget.js",
    "lmk/jupyter/labextension/@lmkapp/jupyter-widget/package.json",
]
dependencies = [
    "hatch-jupyter-builder>=0.5.0",
]

[tool.hatch.build.hooks.jupyter-builder.build-kwargs]
path = "."
build_cmd = "build:prod"
npm = "pnpm"

[tool.hatch.metadata]
allow-direct-references = true

[tool.mypy]
packages = ["lmk"]
exclude = ["generated"]

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
ignore = ["F403"]
unfixable = ["F401"]
